*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 500px;
    height: 500px;
    border: 1px solid red;
}
@keyframes animetion {
   0%{
    top: 0; left: 0;
    background-color: aqua
   }
   15%{
    top: 0; left: 150px;
    background-color: red;
   }
   30%{
    top: 0; left: 300px;
    background-color: pink;
   }
   45%{
    top: 150px; left: 300px;
    background-color: black;
   }
   60%{
    top: 300px; left: 300px;
    background-color: gray;
   }
   75%{
    top: 300px; left: 150px;
    background-color: orange;
   }
   90%{
    top: 300px; left: 0;
    background-color: yellow;
   } 
}
.anim{
    width: 200px;
    height: 200px;
    background-color: aqua;

    position: relative;
    top: 0;
    left: 0;


    animation: animetion 4s ease-in-out infinite ;
}
